<figure <%
    if (typeof id !== 'undefined') {
        %>id="<%= id %>" <%
    }
    if (typeof clazz !== 'undefined') {
        %>class="<%= clazz %>" <%
    }
    if (typeof width !== 'undefined' && width) {
        %>width="<%= width %>" <%
    }

    if (typeof style !== 'undefined' && style) {
        %>style="<%= style %>" <%
    }
    %> >
    <% if (typeof dest !== 'undefined') { %><a href="<%= dest %>"><% } %>
    <img src="<%= href %>" <%
    if (typeof resizewidth !== 'undefined') {
        %>resize-width="<%= resizewidth %>" <%
    }
    if (typeof resizeto !== 'undefined') {
        %>resize-to="<%= resizeto %>" <%
    } %>/>
    <% if (typeof dest !== 'undefined') { %></a><% } %>
    <%
        if (typeof caption !== 'undefined' && caption) {
            %>
            <figcaption><%- caption %></figcaption>
            <%
        }
    %>
</figure>
