<span <%
    if (typeof clazz !== 'undefined') {
        %> class="<%= clazz %>" <%
    }
    if (typeof id !== 'undefined') {
        %> id="<%= id %>" <%
    }
    if (typeof style !== 'undefined') {
        %> style="<%= style %>" <%
    }
    %> >
    <a href="<%= dest ? dest : href %>"><strong><%= document.metadata.title %></strong></a>
</span>