<div <%
    if (typeof clazz !== 'undefined') {
        %> class="<%= clazz %>" <%
    }
    if (typeof id !== 'undefined') {
        %> id="<%= id %>" <%
    }
    if (typeof width !== 'undefined') {
        %> width="<%= width %>" <%
    }
    if (typeof style !== 'undefined') {
        %> style="<%= style %>" <%
    } else {
        %> style="float: left; width: <%= width %>; padding: 2px; margin: 2px;" <%
    }
    %> >
    <figure>
        <% if (typeof contentImage !== 'undefined') { %>
        <a href="<%= dest ? dest : href %>">
            <img src="<%- contentImage %>" 
                 alt="<%= document.metadata.title %>" 
                 title="<%= document.metadata.title %>" 
                 style="width: 100%;"/>
        </a>
        <% } %>
        <figcaption style="text-align: center;">
            <a href="<%= dest ? dest : href %>"><strong><%= document.metadata.title %></strong></a><%
                if (caption) { %>: <%- caption %><% } %>
        </figcaption>
    </figure>
</div>